{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": 0,
    "react/no-unused-state": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-unused-expressions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "semi": ["error"]
  }
}
